#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see
#
# See the examples of server my.cnf files in /usr/share/mysql/
#

# this is read by the standalone daemon and embedded servers
[server]

# this is only for the mysqld standalone daemon
[mysqld]

# this is only for embedded server
[embedded]

# This group is only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]

# This group is only read by MariaDB-10.0 servers.
# If you use the same .cnf file for MariaDB of different versions,
# use this group for options that older servers don't understand
[mariadb-10.0]

#### Replication ####
# read_only = 1
#server_id                = 83
#log_bin                  = binlog-master83
#log_slave_updates        = 1
#binlog_format = ROW
#binlog_checksum = crc32 
#expire_logs_days = 3
#max_binlog_size = 1024M
#innodb_flush_log_at_trx_commit = 1
#sync_binlog = 1
#gtid_domain_id           = 10
#gtid_strict_mode         = On
#auto_increment_increment = 3
#auto_increment_offset    = 2
#slave_type_conversions = ALL_NON_LOSSY


#############################################

user=mysql
bind-address=0.0.0.0
port            = 3306
#skip-locking
default_storage_engine = myisam
myisam-recover
#safe_show_database
skip-name-resolve
innodb_file_per_table
key_buffer_size = 1024M
myisam_sort_buffer_size = 16M
max_allowed_packet = 1M
#table_cache = 2048
sort_buffer_size = 1M
read_buffer_size = 1M
thread_cache = 16
query_cache_size= 64M
query_cache_type= 1
# Try number of CPU's*2 for thread_concurrency
thread_concurrency = 4
# flush all tables every day
flush_time = 86400
interactive_timeout = 600
max_connections = 1024
max_connect_errors = 1000
max_join_size = 16M
max_user_connections = 1000
wait_timeout = 300
innodb_buffer_pool_size = 128M
back_log = 1024
tmp_table_size = 16M
max_heap_table_size = 16M
innodb_stats_persistent = 0
#innodb_force_recovery = B1
#log_error = /var/lib/mysql/mysql.err
#slow_query_lo = /home/logs/mysql_slow.log
long_query_time = 1000 # slow query time log
log_queries_not_using_indexes=0
log_slow_admin_statements=1
#general_log = ON
#general_log_file = /home/logs/mysql-all_temp.log


[myisamchk]
key_buffer_size=512M
sort_buffer_size=512M
read_buffer_size=1M
write_buffer_size=1M
